.link {
  padding: 10px 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  border-radius: 5px;
  display: block;
}

.link_active {
  background: #fff;
  color: #000;
  text-decoration: underline;
}

.nav{
  padding: 10px 40px;
  display: flex;
  margin-bottom: 30px;
}